  /* General Styles */
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #e7eaf6; /* Light grey background */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 8%;
    height: 650px;
}

/* Form Container */
.form-container {
    background: #ffffff; /* White background for the form */
    padding: 60px;
    width: 500px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
    font-weight: 500;
}

/* Form Inputs */
.form-group {
    margin-bottom: 5px;
    input[type="radio"]:checked, input[type="checkbox"]:checked { accent-color: #38598b; }
    padding: 5.5px;
}

label {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f9f9; /* Subtle background for inputs */
}

textarea {
    resize: vertical;
    min-height: 80px;
    max-height: 110px;
}

/* Radio and Checkbox */
.checkbox-group {
    display: flex;
    margin: 0%;
    gap: 5%;

    input[type="radio"], input[type="checkbox"] {
transform: scale(0.7); /* Increase size by 1.5x */
}

}




.radio-group {
    display: flex;
    margin: 0%;
    gap: 7%;

    input[type="radio"], input[type="checkbox"] {
transform: scale(0.7); /* Increase size by 1.5x */
}
}

/* Submit Button */
.btn {
    display: inline-block;
    width: 520px;
    padding: 12px;
    background:  #a2a8d3; /* Soft green background for the button */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.btn:hover {
    background:#b3baeafc; /* Slightly darker green on hover */
}